.bicicletas-bg:nth-child(odd){
    background: linear-gradient(to right, var(--cor-00) 30%, var(--cor-11) 0%);
}

.bicicletas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    background: url('../../img/dec/top-right.svg') no-repeat top 40px right 20px;

    h2{
        grid-column: 1/-1;
        margin-bottom: 20px;
    }

    p{
        grid-column: 1/-1;
        margin-bottom: 32px;
    }

    a{
        margin-top: -40px;
        place-self: end;
    }

    li{
        display: flex;
        align-items: center;
    }

    li + li{
       margin-top: 16px; 
    }
}

.bicicletas h2::before{
    content: '';
    display: block;
    width: 12px;
    height: 8px;
    background: var(--cor-p1);
    margin-bottom: 8px;
}

.bicicletas-imagem{
    position: relative;

    span{
        background: var(--cor-12);
        display: inline-block;
        padding: 8px 16px 8px 8px;
        position: absolute;
        top: 20px;
        right: 0px;
        border-radius: 4px 0px 0px 4px;
    }
}

.bicicletas-conteudo{
    display: grid;
    grid-template-columns: 1fr auto;
    align-content: start;

    img{
        width: 24px;
        margin-right: 8px;
    }
}


@media (max-width: 800px){
    .bicicletas-bg:nth-child(odd){
        background: var(--cor-11);
    }

    .bicicletas{
        grid-template-columns: 1fr;
        gap: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (max-width: 600px){
    .bicicletas-conteudo{
        grid-template-columns: 1fr;
    }

    .bicicletas ul{
        font-size: 1rem;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 32px;
    }

    .bicicletas a{
        place-self: start;
    }
}