.introducao-bg{
    background: var(--cor-12) url(../../img/dec/bottom-left.svg)
    no-repeat
        bottom 160px left 60px; 
    box-shadow: inset 0 -120px var(--cor-00);
}

.introducao{
   display: flex; 
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 0px 40px;

   img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
   }

   h1{
    margin-bottom: 32px;
   }

   p{
    grid-column: 1;
    margin-bottom: 20px;   
   }
}

.introducao-conteudo{
    align-self: end;
    padding-bottom: 200px;
}


@media (max-width: 800px){
    .introducao-bg{
        background: var(--cor-11);
        padding-top: 40px;
        box-shadow: inset 0 -60px var(--cor-00);
    }

    .introducao{
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .introducao-conteudo{
        padding-bottom: 0px;
    }

    .introducao h1{
        margin-bottom: 16px;
    }

    .introducao p{
        font-size: 1rem;
    }

    .introducao img{
        height: 300px;
        width: 100%;
    }
}
