.termos{
    padding-top: 80px;
    padding-bottom: 80px;

    h2{
        font-weight: 600;
    }

    p{
        max-width: 75ch;
        margin-bottom: 24px;
    }
}

.termos p + h2{
    margin-top: 60px;
}